* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* Utility Classes */
/* Utility Classes */

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.8rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: backGround-color .3s ease-in-out;
}

.img-slider {
  position: relative;
  width: 60rem;
  height: 40rem;
  border-radius: 1rem;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .3);
}

.image-container {
  display: flex;
  flex-flow: row nowrap;
  transition: transform .3s ease-in-out;
}

.btn {
  position: absolute;
  display: block;
  background-color:#000;
  width: auto;
  height: 8rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: rgba(150, 150, 150, .5);
  color: rgba(11, 32, 44, .85);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 3rem .5rem;
}

.btn:hover {
  opacity: .7;
  transition: opacity .5s ease-in-out;
}

.btn-next {
  right: 0;
  border-radius: 1rem 0 0 1rem;
}

.btn-prev {
  left: 0;
  border-radius: 0 1rem 1rem 0;
}
